#app-main {
  background-color: #1E1E1E;
  color: #f1f1f1;
  width: 80%;
  height: 100%;
  position: fixed;
  left: 20%;
}

input[type=text] {
  background-color: transparent;
  display: block;
  border: 0;
}