.app-sidebar {
  background-color: #252526;
  min-width: 300px;
  width: 20%;
  height: 100%;
}

.sidebar-header {
  background: #333;
  border-bottom: 1px solid #333;
  width: 100%;
}

.sidebar-header-title {
  display: inline-block;
  margin: 0;
  padding: 10px 15px;  
  vertical-align: middle;
  color: #888;
}

.sidebar-header-create {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

h3 {
  margin: 0;
}