.separator {
  height: 1px;
  background: #444;
}

.noteEditor {
  width: 100%;
  height: 100%;
  box-sizing: border-box;  
}

textarea {
  width: 100%;
  padding: 20px 35px;
  font-size: 1.25rem;
  background: transparent;
  resize: none;
  outline: none;
  border-width: 0;
  color: #ccc;
  font-family: helvetica, sans-serif;
  box-sizing: border-box;
  
}

input[name=name] {
  color: #ccc;
  padding: 0.5rem;
  outline: none;
  font-size: 2rem;
  box-sizing: border-box;  
  padding: 35px 35px 7px 35px;
  font-weight: bold;
  width: 100%;
}